[jumphost]
jumphost0 ansible_host={{ ansible_host }} ansible_user={{ ansible_user }}

{% for role in roles %}
[{{ role }}]
{% for node in roles[role] %}
{% if add_floating_ip %}
{{ node }}{{ identifier }} ansible_host={{ public_ips[node] }} ansible_user={{ users[node] }} ip={{ ips[node] }} {% if add_floating_ip %}public_ip={{ public_ips[node] }}{% endif %} private_ip={{ private_ips[node] }}
{% else %}
{{ node }}{{ identifier }} ansible_host={{ private_ips[node] }} ansible_user={{ users[node] }} ip={{ ips[node] }} {% if add_floating_ip %}public_ip={{ public_ips[node] }}{% endif %} private_ip={{ private_ips[node] }}
{% endif %}
{% endfor %}
{% endfor %}

{% for group in (os_infra.roles_group | default([])) %}
[{{ group }}:children]
{% for role in os_infra.roles_group[group] %}
{{ role }}
{% endfor %}
{% endfor %}
